<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="HRManag" connectionString="Data Source=DESKTOP-SBC8HDN\SQLEXPRESS;Initial Catalog=Human_Resource_Management;User ID=sa;Password=unlock"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="HRMConnectionString" value="server=DESKTOP-SBC8HDN\\SQLEXPRESS;database=Human_Resource_Management;user id=sa;password=unlock"/>
    <add key="FromMail" value="prabha93@gmail.com"/>
    <add key="password" value=""/>
    <add key="Host" value="smtp.gmail.com"/>  
  </appSettings>
</configuration>
